@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet');

:root {
	--yellow: #FFFF00;
	--gray: #808080;
	--gold: #DAA520;
	--pink: #FF69B4;
	--purple: #800080;
	--orange: #FF8C00;
	--light_green: #7CFC00;
	--red: #FF0000;
	--dark_green: #006400;
	--cyan: #00CED1;
	--blue: #0000FF;
	--brown: #8B4513;
}

.yellow:hover,
button.active.yellow {
	background-color: var(--yellow);
	color: black;
}

.gray:hover,
button.active.gray {
	background-color: var(--gray);
}

.gold:hover,
button.active.gold {
	background-color: var(--gold);
}

.pink:hover,
button.active.pink {
	background-color: var(--pink);
}

.purple:hover,
button.active.purple {
	background-color: var(--purple);
}

.orange:hover,
button.active.orange {
	background-color: var(--orange);
}

.light_green:hover,
button.active.light_green {
	background-color: var(--light_green);
	color: black;
}

.red:hover,
button.active.red {
	background-color: var(--red);
}

.dark_green:hover,
button.active.dark_green {
	background-color: var(--dark_green);
}

.cyan:hover,
button.active.cyan {
	background-color: var(--cyan);
}

.blue:hover,
button.active.blue {
	background-color: var(--blue);
}

.brown:hover,
button.active.brown {
	background-color: var(--brown);
}

.normalizzazioni:hover,
button.active.normalizzazioni {
	color: blue;
	font-weight: bold;
	background-color: white;
}

.correzioni:hover,
button.active.correzioni {
	color: red;
	font-weight: bold;
	background-color: white;
}

html {
    color:black;
    background-color: white;
    font-family:'Montserrat', sans-serif;
    font-size: 12pt;
    margin: 0px;
}

body {
	margin: 0;
}

.header {
    margin-left: -1%;
    margin-right: -1%;
    margin-top: -8px;
    width: 100%;
    text-align: center;    
    background-color: black;
    color: white;
    margin: -8px;
	padding: 1rem;
}

h1 {
    font-size: 28pt;
}

h2 {
    font-size: 20px;
	margin-top: 50px;
	text-align: center;
}

div.section h2 {
	text-align: center;
}

.paragrafo_mappa{
	background-color:orange;
}

.pulsanti {
    position: relative;
    max-width: 70%;
    z-index: 1000;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.pulsanti.fixed {
    position: fixed;
    top: 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}

button {
    font-size: 8pt;
    padding: 6px 16px;
    margin: 6px 4px;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: white;
    white-space: nowrap;
}

button:hover {
    background-color: black;
    color: white;
}

.facsimile {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.table_align {
	display: flex;
	justify-content: center;
	width: 100%;
}

table.columns {
	border-collapse: collapse;
	width: auto;
}

.column-single {
	align-items: center;
}

.column-left,
.column-right,
.column-single {
	position: relative;
	padding-left: 50px;
}

.column-left > div,
.column-right > div,
.column-single > div {
	position: relative;
	padding-left: 50px;
}

.column-left b,
.column-right b,
.column-single b {
	position:absolute;
	left: -62px;
	text-align: right;
	display: inline-block;
	font-size: 9pt;
}

.column-left {
    padding-right: 50px;
}

div b {
	float: left;
    line-height: 1.2; /* Regola l'altezza della linea */
    padding: 0 2px; /* Aggiungi padding laterale */
}

table.columns {
	display: flex;
}

table.columns td {
	vertical-align: baseline;
	min-width: 470px;
	width: fit-content;
}

td {
	text-align: justify;
}

.sic,
.orig {
	display: inline;
}

.corr,
.reg {
	display: none;
}

.corr {
	color: red;
	font-weight: bold;
}

.reg {
	color: blue;
	font-weight: bold;
}

area:hover {
	cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pers_info {
    visibility: hidden;
    opacity: 0;
    position: absolute; /* O usa 'relative' se necessario */
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: visibility 0s, opacity 0.3s linear;
    z-index: 10;
}

.pers_reale:hover + .pers_info,
.personaggio:hover + .pers_info {
    visibility: visible;
    opacity: 1;
	transition-delay: 0s;
}

.pers_reale,
.personaggio {
    position: relative;
    cursor: pointer;
}

.bibliografia {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: visibility 0s, opacity 0.3s linear;
    z-index: 10;
	justify-content: left;
}

.titolo_opera:hover + .bibliografia {
    visibility: visible;
    opacity: 1;
	transition-delay: 0s;
}

.titolo_opera {
    position: relative;
    cursor: pointer;
}

#el_footer1, #el_footer2 {
    display: none;
    margin-top: 20px;
}

footer {
    text-align: center;
	margin-top: 50px;
	border-top: 2px solid #000000;
	margin-right: -15px;
    margin-bottom: 35px;
}

.container_footer {
    justify-content: center;
    flex-direction: column;
}

footer table {
    margin: 0 auto;
}

footer table td, th {
    text-align: center;
}

footer td {
    width: 250px;;
}

footer table#articoli td:first-child,
footer table#monogr td:first-child {
    font-weight: bold;
}

table#monogr {
    margin-top: 50px;
}

table#articoli,
table#monogr {
    line-height: 2.5;
}